body {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 300px 200px 400px;
  /* background-image: url(./image/fried-rice-967081_1920.jpg); */
  background-size: cover;
  background-color: blue;
  text-align: center;
}

container {
  width: 1170px;
  padding: 0 100px;
  margin: 0 auto;
} 

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 60px;
  letter-spacing: 5px;
 
}

.top-wrapper p {
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 35px;
}

.signup {
  background-color: #239b76;
}



.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
  font-size: 25px;
  color:white;
}

.header-right {
  float: right;
  background-color: rgba(255,255,255,0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255,255,255,0.5);
}

.header-right .login {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  cursor: pointer;
  display: block;
}

